<!DOCTYPE html>
{% autoescape true %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pong v4</title>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js" defer></script>
    <script src="/_ah/channel/jsapi" defer></script>
    <script src="/js/pong.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/pong.css" />
</head>
<body>
    <header role="banner">
        <section id="player_info">
            <div id="display_name">{{ player_name }}</div>
        </section>
        <section id="game_id">
            <p>{{ game_id }}</p>
        </section>
        <section id="log_links">
            <a href="/game/leave_game?player_name={{ player_name }}" title="Leave Game" id="log_link" class="nav">Leave Game</a>
        </section>
    </header>
    <section id="result"></section>
    <canvas id="canvas"></canvas>
</body>
</html>
{% endautoescape %}